section{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 354px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin: auto;
    display: block;
}


div.box{
    margin-bottom: 10px;  
}

div.logo {
    text-align: left;
/*     margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px; */
}

.menu {
    text-align: right;
/*     margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px; */
}